:root{
    --free: "Freestyle Script";
    --bauhaus:"Bauhaus 93";
    --bgc:#4ac796;
    --bgc2:#23845d;
    --century:"century-gothic";
    /* 
    'Antonio', sans-serif
    'Bebas Neue', cursive
    'Bitter', serif
    'Crimson Text', serif
    'Montserrat', sans-serif
    'Raleway', sans-serif
    'Roboto', sans-serif 
    'mascot-mvb-rough-2', sans-serif
*/
}

body {
    font-family: var(--century);
}
header{
    top: 0;
}
.topnav {
    overflow: hidden;
    background-color: var(--bgc);
    position: relative;
    font-family: var(--century);
}
.topnav #Links, #kurserUM, #servicesUM, #SUUM {
    display: none;
}
#kurserUM, #servicesUM, #SUUM {
    background-color: var(--bgc2);
}
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background-color:var(--bgc);
    display: block;
    position: absolute;
    padding: 25px;
    right: 0;
    top: 0;
}

.active {
    background-color: var(--bgc);
    color: white;
}

.active img{
    width: 100px;
}

.fa-bars::before{
    font-size: 40px;
}

.desktopHeader{
    display: none;
}
.RM {
    font-family: var(--century);
}

.title{
    width: 100%;
    text-align: center;
}

.title >h1{
    font-family: var(--bauhaus);
    color: var(--bgc);
    margin: 40px 0;
    font-size: 40px;
}

.b1{
    background-image: url(/img/ring.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    width: 100%;
    color: white;
}

.b1 > p{
    padding-top: 70%;
    padding-right: 90px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family: var(--century);
}


.b2{
    background-image: url(/img/sten.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 700px;
    width: 100%;
    color: var(--bgc);
}

.b2 > p{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 55%;
    font-size: 20px;
    line-height: 30px;
    font-family: var(--century);
}

.b3{
    background-image: url(/img/citatbillede.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 700px;
    width: 100%;
    color: white;
}

.b3 > p{
    text-align: center;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family: var(--century);
}
.b3 > .signatur {
    font-family: var(--free);
    font-size: 40px;
    padding-top: 20px;
}
footer{
    background-color: var(--bgc);
    text-align: center;
    color: white;
    padding:25px;
}

 footer a{
     text-decoration: none;
     color: white;
     font-family: var(--century);
 }
 footer p{
     padding-top: 28px;
     font-size: 20px;
     font-family: var(--century);
 }


 .kurser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #4ac796;
    border-radius: 105px 50px 105px 50px;
    padding: 15px;
    margin: 30px;
}

.kurser img{
    width: 100%;
}

.kursusnavn{
    font-size: 24px;
    width: 17rem;
}

.kursus_detaljer{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    font-size: 20px;
}

.kursus_detaljer img{
    width: 16px;
    padding-right: 5px;
}

.kursusnavn{
    margin-top: 10px;
    line-height: 30px;
}
.varighed, .tidspunkt, .startdato, .ledigpladser, .pris{
    line-height: 40px;
}

.prisogbestil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.pris{
    font-size: 1.3rem;
}

.booking_knap{
    background-color: green;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    width: 7rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.wrapper h1{
    font-family: var(--bauhaus);
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.wrapper{
    margin-bottom: 50px;
}

/* Styling til om os-siden */

.b4{
    background-image: url(/img/Solskitser.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 700px;
    width: 100%;
    color: var(--bgc);
}

.b4 > p{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-family: var(--century);
}
#b4_luft {
    height: 300px;
}
#b4_fortsat {
    padding-top: 10px;
    padding-left: 30px;
    color: white;
}
.slideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
button {
    margin: 20px;
    background-color: var(--bgc);
    color: white;
    border: none;
    border-radius: 25px 10px;
    width: 130px;
    padding: 20px 0px;
    text-align: center;
    font-family: var(--century);
    font-size: 20px;
}
#slidebillede {
    max-width: 80%;
}
.b6{
    background-image: url(/img/Butiksvindue.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    width: 100%;
    color: white;
}
#b6_luft {
    height: 100px;
}
.aabent {
    display: flex;
    margin: 10px;
}
.dage, .tider {
    width: 50%;
    color: var(--bgc);
}
.dage > p, .tider > p {
    font-family: var(--century);
}
.b6 > p{
    padding-top: 70%;
    padding-right: 90px;
    padding-left: 20px;
    font-size: 20px;
    font-family: var(--century);
}
.geolocating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px){

}

@media screen and (min-width: 1200px){
    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 150px;
        padding-top: 50px;
        margin-bottom: 20px;
        background-color:var(--bgc);
    }

    .logo > img{
        height: 150px;
    }  

    .mobileHeader{
        display: none;
    }

    .desktopHeader{
        display: block;
    }

    .headerMenu{
        display: flex;
        justify-content: center;
    }

    .header-item{
        width: 300px;
        height: 300px;
        margin: 0 25px;
    }

    .header-item >  img{
        display: flex;
        width: 200px;
        margin: 0 auto;
    }

    .dropMenu-content {
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        min-width: 300px;
    }
    
    .dropMenu {
        color: black;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        min-width: 100%;
        height: 60px;
        text-align: center;
        padding-top: 40px;
    }
    .dropMenu p{
        padding-bottom: 20px;
    }
    .dropMenu-content a {
        color: black;
        padding: 16px;
        text-decoration: none;
        display: block;
        font-family: var(--century);
    }
    .dropMenu:Hover .dropMenu-content {
        display: block;
    } 
/*     .dropMenu:hover .dropMenu {
    } */
    .wrapper{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    .b3{
        background-image: url(/img/henrik2.png);
        background-position: center;
    }

    .kurser img{
        width: 200px;
    }

    .kursus_detaljer img{
        width: 16px;
        padding-right: 5px;
    }

    .kursus_detaljer{
        width: 19rem;
        font-size: 20px;
    }

    .kursusnavn{
        font-size: 22px;
        width: 16rem;
    }

    .kurser{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 2px solid #4ac796;
        border-radius: 70px 20px 70px 20px;
        padding: 15px;
        margin: 15px;
    }

    .booking_knap{
        margin-top: 10px;
        font-size: 1.35rem;
        width: 5rem;
        padding: 0.5rem;
        display: flex;
        justify-self: center;
    }
    button {
        cursor: pointer;
    }

    
}
