:root{
    --free: "Freestyle Script";
    --bauhaus:"Bauhaus 93";
    --bgc:#4ac796;
    --bgc2:#23845d;
    --century:"century-gothic";
    /* 
    'Antonio', sans-serif
    'Bebas Neue', cursive
    'Bitter', serif
    'Crimson Text', serif
    'Montserrat', sans-serif
    'Raleway', sans-serif
    'Roboto', sans-serif 
    'mascot-mvb-rough-2', sans-serif
*/
}

body {
    font-family: var(--century);
}
header{
    top: 0;
}
.topnav {
    overflow: hidden;
    background-color: var(--bgc);
    position: relative;
    font-family: var(--century);
}
.topnav #Links, #kurserUM, #servicesUM, #SUUM {
    display: none;
}
#kurserUM, #servicesUM, #SUUM {
    background-color: var(--bgc2);
}
#kurserUM a, #servicesUM a, #SUUM a {
    font-family: var(--century);
}
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background-color:var(--bgc);
    display: block;
    position: absolute;
    padding: 25px;
    right: 0;
    top: 0;
}

.active {
    background-color: var(--bgc);
    color: white;
}

.active img{
    height: 70px;
}

.fa-bars::before{
    font-size: 40px;
}

.desktopHeader{
    display: none;
}
.RM {
    font-family: var(--century);
    color: var(--bgc2);
}

.title{
    width: 100%;
    text-align: center;
}

.title >h1{
    font-family: var(--bauhaus);
    color: var(--bgc);
    margin: 40px 0;
    font-size: 40px;
}

#priser{
    margin: 0 0 40px 0;
}

.b1{
    background-image: url(/img/ring.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    width: 100%;
    color: white;
}

.b1 > p{
    padding-top: 70%;
    padding-right: 90px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family: var(--century);
}


.b2{
    background-image: url(/img/sten.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 700px;
    width: 100%;
    color: var(--bgc);
}

.b2 > p{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 55%;
    font-size: 20px;
    line-height: 30px;
    font-family: var(--century);
}

.b3{
    background-image: url(/img/citatbillede.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 700px;
    width: 100%;
    color: white;
}

.b3 > p{
    text-align: center;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family: var(--century);
}
.b3 > .signatur {
    font-family: var(--free);
    font-size: 40px;
    padding-top: 20px;
}
footer{
    background-color: var(--bgc);
    text-align: center;
    color: white;
    padding:25px;
}

 footer a{
     text-decoration: none;
     color: white;
     font-family: var(--century);
 }
 footer p{
     padding-top: 28px;
     font-size: 20px;
     font-family: var(--century);
 }
address {
    padding-top: 28px;
    font-style: normal;
    font-family: var(--century);
    font-size: 20px;
}

 .kurser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #4ac796;
    border-radius: 105px 50px 105px 50px;
    padding: 15px;
    margin: 30px;
}

.kurser img{
    width: 100%;
}

.kursusnavn{
    font-size: 24px;
    width: 17rem;
    margin-top: 10px;
    line-height: 30px;
    font-family: var(--century);
}

.kursus_detaljer{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    font-size: 20px;
}

.kursus_detaljer img{
    width: 16px;
    padding-right: 5px;
}

.varighed, .tidspunkt, .startdato, .ledigpladser, .pris{
    line-height: 40px;
    font-family: var(--century);
}

.prisogbestil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
}

.pris{
    font-size: 1.3rem;
}

.booking_knap{
    border-radius: 25px 10px;
    font-size: 20px;
    background-color: #FF7137;
    color: white;
    font-family: var(--century);
    text-decoration: none;
    text-align: center;
    width: 6rem;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 100%;
    right: 0;
}

.wrapper h1{
    font-family: var(--bauhaus);
    color: var(--bgc);
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.wrapper{
    margin-bottom: 50px;
}

/* Styling til om os-siden */
.b5 {
    background-image: url(/img/Top-om\ os.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 300px;
    width: 100%;
    color: var(--bgc);
}
.b5 > h1 {
    margin-top: 50px;
    padding-top: 80px;
    color: white;
    font-size: 45px;
}
.b4{
    background-image: url(/img/Solskitser.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    min-height: 600px;
    width: 100%;
    color: var(--bgc);
}

.b4 > p{
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family: var(--century);
}
#b4_fortsat {
    padding-top: 15px;
    padding-left: 30px;
    color: var(--bgc);
    font-size: 20px;
    line-height: 30px;
    padding-right: 30px;
    font-family: var(--century);
}
.slideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.button_box {
    display: flex;
}
.button, button {
    margin: 20px;
    background-color: var(--bgc);
    color: white;
    border: none;
    border-radius: 25px 10px;
    width: 130px;
    padding: 20px 0px;
    text-align: center;
    font-family: var(--century);
    font-size: 20px;
}
.button > img {
    max-width: 50%;
}
#slidebillede {
    max-width: 80%;
}
.b6{
    background-image: url(/img/Butiksvindue.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    width: 100%;
    color: white;
}
#b6_luft {
    height: 50px;
}
.aabent {
    display: flex;
    margin: 10px;
}
.dage, .tider {
    width: 50%;
    color: var(--bgc);
}
.dage > p, .tider > p {
    font-family: var(--century);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.b6 > p{
    padding-top: 70%;
    font-size: 30px;
    font-family: var(--century);
}
.aabent_titel {
    width: 100%;
    text-align: center;
}
.geolocating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#find-mig {
    background-color: #FF7137;
}
#map-link {
    font-family: var(--century);
}


/* Styling til kursus-siden */

.b7{
    background-image: url(/img/kursustilmeld.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    width: 100%;
    color: white;
}

.b7 > p{
    padding-top: 20%;
    padding-right: 90px;
    padding-left: 20px;
    font-size: 20px;
    font-family: var(--century);
    line-height: 30px;
}

#tilmeld{
    margin: 20px;
    background-color: #fff;
    color: #FF7137;
    border: none;
    border-radius: 25px 10px;
    width: 130px;
    padding: 20px 0px;
    text-align: center;
    font-family: var(--century);
    font-size: 20px;
    font-weight: 800;
    margin-left: 90px;
}

.b8{
    background-image: url(/img/figurkursus.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 600px;
    width: 100%;
    color: var(--bgc);
}


.gif{
    max-width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-family: var(--century);
  }
  a {
      color: black;
      text-decoration: none;
  }
  
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }

#tilmeldto{
    margin: 20px auto;
    background-color:#FF7137;
    color: white;
    border: none;
    border-radius: 25px 10px;
    /* width: 130px; */
    padding: 20px 0px;
    text-align: center;
    font-family: var(--century);
    font-size: 20px;
    font-weight: 800;
    /* margin-left: 120px;   */
}

/* Styling til services-siden */
.ups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ups > p {
    color: var(--bgc);
    font-family: var(--century);
    font-size: 20px;
    padding: 10px;
}
.ups img {
    max-width: 95%;
}
.ups > a {
    margin: 20px;
    background-color: var(--bgc);
    color: white;
    border: none;
    border-radius: 25px 10px;
    width: 130px;
    padding: 20px 0px;
    text-align: center;
    font-family: var(--century);
    font-size: 20px;
}

@media screen and (min-width: 800px){
    .active{
        height: 100%;
        padding: 0px;
    }

    .active img{
        padding-top: 14px;
        padding-left: 16px;
        height: 100px;
    }

    .fa-bars::before {
        font-size: 50px;
    }
    .topnav a {
        font-size: 25px;
    }
    .topnav a.icon{
        padding: 50px 50px 0 0;
    }
    .b1 {
        display: flex;
        justify-content: flex-end;
    }
    .b1 p{
        padding-top: 50px;
        padding-right: 30px;
        width: 40%;
        font-size: 25px;
        line-height: 1.4;
        color: var(--bgc);
        text-align: right;
    }

    .b2 p{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 50%;
        font-size: 25px;
        line-height: 1.4;
    }

    .b3{
        background-image: url(/img/henrik2.png);
        background-position: center;
    }

    .b3 p{
        padding: 90px 250px 0px;
        font-size: 25px;
        line-height: 1.4;
    }

    .b5 {
        background-repeat: no-repeat;
        background-position: center;
        min-height: 350px;
        width: 100%;
    }

    .b5 h1{
        font-size: 50px;
    }

    .b4 > p {
        padding: 20px 550px 0px 20px;
        font-size: 25px;
        line-height: 1.4;
    }

    #b4_fortsat {
        font-size: 25px;
        line-height: 1.4;
    }

    #slidebillede {
        max-width: 60%;
    }

    .b6{
        background-size: auto;
        min-height: 500px;
        width: 100%;
        color: white;
    }

    #b6_luft {
        height: 60px;
    }

    .dage > p, .tider > p {
        font-size: 25px;
        line-height: 1.4;
    }

    .b7 p{
        padding-top: 90px;
        padding-right: 50%;
        font-size: 25px;
        line-height: 1.4;
    }
    #tilmeld{
        margin-left: 500px;
        margin-top: 0;
        background-color:#FF7137;
        color: white;
    }
    #priser{
        margin-top: 40px;
    }

    #find-mig {
        font-size: 25px;
    }

    footer p{
        padding-top: 28px;
        font-size: 25px;
        font-family: var(--century);
    }
    footer address{
        font-size: 25px;
    }
    .ups > p {
        font-size: 25px;
    }
    .ups > a {
        font-size: 25px;
    }

}

@media screen and (min-width: 1200px){
    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 150px;
        padding-top: 50px;
        margin-bottom: 20px;
        background-color:var(--bgc);
    }

    .logo > img{
        height: 150px;
    }  

    .mobileHeader{
        display: none;
    }

    .desktopHeader{
        display: block;
    }

    .headerMenu{
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .header-item{
        min-width: 350px;
        height: 100px;
        z-index: 1;
    }

    .header-item >  img{
        display: none;
        width: 200px;
        margin: 0 auto;
    }

    .dropMenu-content {
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        min-width: 300px;
        z-index: 1;
        background-color: white;
    }
    
    .dropMenu {
        color: black;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        min-width: 100%;
        height: 100px;
        text-align: center;
        padding-top: 40px;
        z-index: 1;
    }
    .dropMenu p{
        padding-bottom: 20px;
        font-size: 40px;
    }
    .dropMenu-content a {
        color: var(--bgc2);
        padding: 16px;
        text-decoration: none;
        display: block;
        font-family: var(--century);
    }

    .dropMenu:Hover .dropMenu-content {
        display: block;
    } 

    .dropMenu-content a:hover{
        background-color: var(--bgc);
        color: white;
    }

    .wrapper{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    .b1 p{
       padding-left: 45%;
       color: var(--bgc);
       margin-right: 0px;
       padding-right: 0px;
       font-size: 25px;
       line-height: 1.4;
    }

    .b3{
        background-image: url(/img/henrik2.png);
        background-position: center;
    }
    .b3 p {
        padding-top: 150px;
    }

    .b6 {
        color: var(--bgc);
    }

    .b7 p{
        padding-top: 75px;
        width: 330px;
    }
    #tilmeld{
        margin-left: 600px;
    }
    .kurser img{
        width: 200px;
    }

    .kursus_detaljer img{
        width: 16px;
        padding-right: 5px;
    }

    .kursus_detaljer{
        width: 19rem;
        font-size: 20px;
    }

    .kursusnavn{
        font-size: 22px;
        width: 16rem;
    }

    .kurser{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 2px solid #4ac796;
        border-radius: 70px 20px 70px 20px;
        padding: 15px;
        margin: 15px;
    }

    .booking_knap{
        margin-top: 10px;
        border: none;
        border-radius: 25px 10px;
        font-size: 20px;
        background-color: #FF7137;
        width: 5rem;
        padding: 15px;
        display: flex;
        justify-self: center;
    }
    button, .button {
        cursor: pointer;
    }

    .gif{
        width: 650px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    
    .b8{
        min-height: 800px;
    }

    #priser{
        margin-top: 0;
    }

    .center{
        min-width: 600px;
        min-height: 400px;
        text-align: center;
        font-size: 24px;
        font-family: var(--century);
    }

    #tilmeldto{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-align: center;
        padding-left: 30px;
        background-color: #FF7137;
    }

    
}
